<% provide(:title, "メールアドレス編集") %>
<h2>メールアドレス編集</h2>
<div class="email-edit">
  <%= form_with model: @user, url: email_update_path do |f| %>
    <%= render "shared/error", obj: @user %>
    <div>
      <%= f.label :新しいメールアドレス %><br>
      <%= f.text_field :email %>
    </div>
    <div>
      <%= f.submit "更新" ,class: "submit" %>
    </div>
  <% end %>
  <%= link_to "戻る", :back %><br>
</div>

