<% provide(:title, "法律事務所新規登録") %>
<h1>法律事務所新規登録</h1>

<%= form_with model: @law_office, url: law_offices_create_path, html: {multipart: true} ,local: true do |f| %>
  <%= render "shared/error", obj: @law_office %> 

  <p>※すべての項目を入力してください</p>

  <div class="field">
    <%= f.label :法律事務所名 %><br>
    <%= f.text_field :office_name, autofocus: true, autocomplete: "room_name" %><br>
  </div>

  <div class="field">
    <%= f.label :代表弁護士 %><br>
    <%= f.text_field :representative_lawyer_name, autocomplete: "room_detail" %><br>
  </div>

  <div class="field">
    <%= f.label :郵便番号(ハイフンなし) %><br>
    <%= f.text_field :postal_code, autocomplete: "price"%>
  </div>  

  <div class="field">
    <%= f.label :住所 %><br>
    <%= f.text_field :address, autocomplete: "address"%>
  </div>  

  <div class="field">
    <%= f.label :緯度 %><br>
    <%= f.text_field :latitude, autocomplete: "address"%>
  </div>
  
  <div class="field">
    <%= f.label :経度 %><br>
    <%= f.text_field :longitude, autocomplete: "address"%>
  </div>

  <div class="field">
    <%= f.label :電話番号 %><br>
    <%= f.text_field :phone_number, autocomplete: "address"%>
  </div>

  <div class="field">
    <%= f.label :営業時間 %><br>
    <%= f.text_field :business_hours, autocomplete: "address"%>
  </div>

  <div class="field">
    <%= f.label :事務所URL %><br>
    <%= f.text_field :office_url, autocomplete: "address"%>
  </div>

  <div class="actions">
    <%= f.submit "保存"%>
  </div>  
<% end %> 
