<% provide(:title, "法律事務所詳細") %>
<h1><%= @law_office.office_name %></h1>
<div style="color: red;"><%= alert %></div>
<div class="center-table">
  <table class="law-offices">
    <tr>
      <th>担当弁護士</th>
      <td><%= @law_office.representative_lawyer_name %></td>
    </tr>
    <tr>
      <th>注力分野</th>
      <td><%= @law_office.focus %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= @law_office.address %></td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td><%= @law_office.phone_number %></td>
    </tr>
    <tr>
      <th>営業時間</th>
      <td><%= @law_office.business_hours %></td>
    </tr>
    <tr>
      <th>ホームページ</th>
      <td><a href="<%= @law_office.office_url %>"><%= @law_office.office_name %></a></td>
    </tr>
  </table>
</div>
<div class="map">
  <div id="google-map"></div>
</div>
<div class="review">
  <div class="review-button">
    <button><%= link_to '口コミを投稿する', reviews_new_path(law_office_id: @law_office.id) %></button>
  </div>
  <div class="review-box">
    <div class="review-box-title">口コミ</div>
    <table>
      <% @reviews.each do |review| %>
        <div class="review-area">
          <%= image_tag "user_icon.png", class:  "user-icon" %><br>
          <div class="review-text">
            <%= review.review %>
          </div>
        </div>
      <% end %>
    </table>
  </div>
</div>

<script>
  function initMap() {
    var test = {lat: <%= @law_office.latitude %>, lng: <%= @law_office.longitude %>};
    var map = new google.maps.Map(document.getElementById('google-map'), {
                zoom: 15, 
                center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);
    var contentString = '<%= @law_office.office_name %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                  });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['MAPS_API_KEY'] %>&callback=initMap">
</script>
